<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.html</welcome-file>
    <welcome-file>home.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>be.website.servlet.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>be.website.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/connect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>be.website.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sport</servlet-name>
    <servlet-class>be.website.servlet.Sport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sport</servlet-name>
    <url-pattern>/sport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Category</servlet-name>
    <servlet-class>be.website.servlet.Category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>History</servlet-name>
    <servlet-class>be.website.servlet.History</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>History</servlet-name>
    <url-pattern>/history</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSport</servlet-name>
    <servlet-class>be.website.servlet.AddSport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSport</servlet-name>
    <url-pattern>/addsport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>be.website.servlet.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/addcategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddRecord</servlet-name>
    <servlet-class>be.website.servlet.AddRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRecord</servlet-name>
    <url-pattern>/addrecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>be.website.servlet.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Records</servlet-name>
    <servlet-class>be.website.servlet.Records</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Records</servlet-name>
    <url-pattern>/records</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Disconnect</servlet-name>
    <servlet-class>be.website.servlet.Disconnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Disconnect</servlet-name>
    <url-pattern>/disconnect</url-pattern>
  </servlet-mapping>
</web-app>